// --------------------------------------------------------

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// --------------------------------------------------------

$font-size-base: 16px;

// --------------------------------------------------------

$font-fallback: system-ui;

// --------------------------------------------------------

$font-family-base: $font-fallback;
